a:link, a:visited {
  background-color: none;
  color: white;
  /*border: 2px solid green;*/
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-grid;
  margin-bottom: 10px;
  
}


a:active{
  color: #2eb7e5;
}

ul{
	text-align: center;
}

.nav {
  font-style: italic;
  font-family: sans-serif;
  font-size: 25px;
  padding-bottom: 20px;
}

.button {
  width: 140px;
  height: 45px;
  font-family: sans-serif;
  font-size: 15px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #0c612b;
  border: solid white;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding-right: 5px;
  margin-right: 16px;
  }

.button:hover {
  background-color: #2eb7e5;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}